<h1>Views</h1>

<div class="table w-full">
  <div class="table-header-group">
    <div class="table-row font-bold">
      <div class="table-cell border-b border-neutral-100 p-2">Type</div>
      <div class="table-cell border-b border-neutral-100 p-2">Identifier</div>
      <div class="table-cell border-b border-neutral-100 p-2">Duration</div>
      <div class="table-cell border-b border-neutral-100 p-2">Happened</div>
    </div>
  </div>
  <div class="table-row-group">
    <% @events.each do |event| %>
      <%= link_to signalman_path_for(event), class: "table-row hover:bg-slate-100", id: dom_id(event) do %>
        <%= tag.div event.name.split(".").first.humanize, class: "table-cell border-b border-neutral-100 p-2" %>
        <%= tag.div event.payload["identifier"], class: "table-cell border-b border-neutral-100 p-2" %>
        <%= tag.div class: "table-cell border-b border-neutral-100 p-2" do %>
          <%= badge_for_request_duration(event.duration) %>
        <% end %>
        <%= tag.div class: "table-cell border-b border-neutral-100 p-2" do %>
          <%= time_ago_in_words event.started_at %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

