<!DOCTYPE html>
<html>
  <head>
    <title>Signalman</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio"></script>
  </head>

  <body>
    <div class="flex gap-4">
      <%= render "signalman/shared/nav" %>
      <div class="ml-72 w-full p-4 sm:p-8 prose max-w-none prose-a:no-underline">
        <%= render "signalman/shared/flash" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>

