<nav class="p-4 min-w-[200px]">
  <h1 class="font-bold"><%= link_to "Signalman", root_path %></h1>
  <%= link_to "Back to app", main_app.root_path, class: "block text-sm" %>

  <br />
  <%= link_to "Requests", requests_path, class: "block" %>
  <%#= link_to "Jobs", requests_path, class: "block" %>
  <%#= link_to "Cache", requests_path, class: "block" %>
  <%#= link_to "Exceptions", requests_path, class: "block" %>
  <%#= link_to "Mail", requests_path, class: "block" %>
  <%#= link_to "Queries", requests_path, class: "block" %>
  <%= link_to "Views", views_path, class: "block" %>

  <br/>
  <%= link_to "Routes", "/rails/info/routes", class: "block" %>
  <%= link_to "Mailer Previews", "/rails/mailers", class: "block" %>
  <%= link_to "Inbound Emails", "/rails/conductor/action_mailbox/inbound_emails", class: "block" %>
</nav>
